/* 
 * SETTINGS 
 * variables
*/
/* 
 * COLORS
 * for this example I use yelp colors
*/
/* 
 * FONT VARIABLES 
 * variables for:
 * font family use
 * font weight
 * 
*/
/* font weight */
/* 
 * SPACING
 * variables used for:
 * padding
 * margin
 * 
*/
/* PADDING */
/* MARGIN */
/* 
 * GENERIC 
 * 3rd Party
*/
/* RESET */
*,
*:after,
*:before {
  box-sizing: border-box; }

html,
body,
h1, h2, h3, h4, .c-article-inner h5, h5, h6,
p, a, button {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

p, a {
  font-family: "Raleway", sans-serif; }

ul, ol {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* 
 * TOOLS
 * Mixins and function (no actual CSS output) 
*/
/* SHADOW */
/* 
 * BORDER RADIUS
*/
/* 
 * ELLIPSIS
 * shortcut for creating a ellipsis
*/
/* 
 * FONT
 * instead of px or %
 * em use for responsive size of text
*/
/* aspect-ratio*/
/* 
 * ELEMENTS
 * HTML elements
*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff; }

/* BUTTONS */
button {
  outline: none; }
  button:hover {
    cursor: pointer; }

/* INPUT */
input, textarea {
  outline: none; }

a {
  text-decoration: none; }

/* LIST */
ul {
  list-style-type: none; }

/* 
 * TRUMPS
 * Overriding / !important 
*/
/* 
 * OBJECT
 * Layout Classes
 * .o-
*/
/* BUTTONS STYLE in class formed*/
.o-button, .o-btn__primary, .o-btn__secondary, .o-btn__cta, .o-btn__disabled {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  outline: none; }

.o-button {
  background: #e81011;
  padding: 15px 35px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.o-button--white {
  background: none;
  border: 1px solid  #ffffff;
  border-radius: 0px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.o-btn__primary {
  background-color: #e81011;
  color: #fff;
  border: none; }
  .o-btn__primary:hover {
    background-color: #333333; }

.o-btn__secondary {
  background-color: #0073bb;
  color: #fff;
  border: none; }
  .o-btn__secondary:hover {
    background-color: #333333; }

.o-btn__cta {
  background-color: #a44100;
  color: #fff;
  border: none; }
  .o-btn__cta:hover {
    background-color: #333333; }

/* with icons */
.o-btn__iconholder {
  display: inline-block;
  padding: 0 5px; }

/* full width */
.o-btn__fullwidth {
  display: block;
  width: 100%;
  margin: 5px 0; }

/* disabled */
/* INPUTS */
.o-input__text {
  width: 100%;
  color: #000000;
  border: 3px solid #dfdfdf;
  background-color: transparent;
  padding: 15px 10px 10px 10px;
  font-size: 16px; }

.o-input__text:focus {
  border: 3px solid #e81011; }

.o-input {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 2px solid #fff; }
  .o-input input:focus ~ .o-input__label--float,
  .o-input input:not(:focus):valid ~ .o-input__label--float {
    color: #000000;
    top: 5px;
    left: 12px;
    -ms-transform: none;
        transform: none;
    font-size: 10px;
    opacity: 1; }
  .o-input .o-input__label--float {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    pointer-events: none;
    left: 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    transition: 0.2s ease all; }

.o-input__checkboxWrap {
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
  text-align: left;
  padding: 10px 10px 10px 35px; }
  .o-input__checkboxWrap label {
    font-weight: 600;
    font-size: 16px; }

.o-input__checkbox {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 25px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .o-input__checkbox:hover {
    cursor: pointer; }

.o-input__checkbox:checked ~ .o-input__checkboxIndicator:before {
  content: ''; }

.o-input__checkboxIndicator {
  z-index: 0;
  position: absolute;
  left: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000000; }
  .o-input__checkboxIndicator:before {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    content: none;
    width: 14px;
    height: 14px;
    background-image: url("../images/checked.svg");
    background-repeat: no-repeat;
    background-size: contain; }

/* with icon */
.o-input__wrap {
  display: block;
  width: 100%; }

.o-input__wrap--checkbox {
  display: block;
  width: 100%; }

.o-input__icon {
  padding: 0 10px;
  position: absolute;
  top: 5px; }

.o-input__holder {
  width: 100%;
  padding-left: 30px; }

.o-input__wrap--reverse .o-input__icon {
  right: 5px; }

.o-input__wrap--reverse .o-input__holder {
  padding-left: 0;
  padding-right: 30px; }

/* input with submit button */
.o-input__form .o-btn__primary {
  display: table-cell; }

/* radio button */
.o-input__radio {
  display: none; }
  .o-input__radio + label span {
    display: inline-block; }

.o-mainwrap .o-bg__geometry {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%; }
  @media (min-width: 1000px) {
    .o-mainwrap .o-bg__geometry {
      width: 70%;
      top: 79px; } }

/* LIST styles */
.o-list__bullet {
  list-style-type: disc; }

.o-list__decimal {
  list-style-type: decimal; }

.o-list__upperAlpha {
  list-style-type: upper-alpha; }

.o-list__lowerAlpha {
  list-style-type: lower-alpha; }

.o-list__upperRoman {
  list-style-type: upper-roman; }

.o-list__lowerRoman {
  list-style-type: lower-roman; }

.o-mainwrap {
  text-align: center;
  position: relative;
  display: block;
  width: 100%; }
  .o-mainwrap:before, .o-mainwrap:after {
    content: "";
    display: table; }
  .o-mainwrap:after {
    clear: both; }
  @media (min-width: 1000px) {
    .o-mainwrap {
      padding-top: 79px; } }

.o-wrap {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1500px; }
  .o-wrap:before, .o-wrap:after {
    content: "";
    display: table; }
  .o-wrap:after {
    clear: both; }

.o-wrap__content {
  display: block;
  width: 100%; }
  .o-wrap__content:before, .o-wrap__content:after {
    content: "";
    display: table; }
  .o-wrap__content:after {
    clear: both; }

.--white {
  background: #ffffff; }

.o-imgWrap {
  display: block;
  width: 100%; }
  .o-imgWrap img {
    display: block;
    width: 100%; }

.o-textWrap {
  text-align: left; }

.o-heading__h1, h1, .o-heading__h3, .c-cookie h4, .c-cookie .c-article-inner h5, .c-article-inner .c-cookie h5, h3 {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  text-align: left; }

.o-heading__h1, h1 {
  font-size: 30px;
  margin-bottom: 15px; }
  @media (min-width: 1000px) {
    .o-heading__h1, h1 {
      font-size: 60px; } }

.o-heading__h2, h2 {
  font-size: 24px; }

.o-heading__h3, .c-cookie h4, .c-cookie .c-article-inner h5, .c-article-inner .c-cookie h5, h3 {
  font-size: 20px;
  margin-bottom: 10px; }

.o-heading__wrap {
  display: block;
  width: 100%; }
  .o-heading__wrap:before, .o-heading__wrap:after {
    content: "";
    display: table; }
  .o-heading__wrap:after {
    clear: both; }
  @media (min-width: 1000px) {
    .o-heading__wrap {
      margin-bottom: 40px; } }
  @media (min-width: 500px) {
    .o-heading__wrap h1 {
      max-width: 380px; } }
  @media (min-width: 1000px) {
    .o-heading__wrap h1 {
      max-width: 380px;
      margin-bottom: 50px; } }

.o-label {
  display: block;
  font-family: 'Lora';
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-bottom: 5px; }

.o-label__icon--location, .o-label__icon--phone, .o-label__icon--fax, .o-label__icon--email {
  position: relative;
  padding-left: 40px; }
  .o-label__icon--location:before, .o-label__icon--phone:before, .o-label__icon--fax:before, .o-label__icon--email:before {
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    content: '';
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: contain; }

.o-label__icon--location:before {
  background-image: url("../img/navigation.svg"); }

.o-label__icon--phone:before {
  background-image: url("../img/phone-receiver.svg"); }

.o-label__icon--fax:before {
  background-image: url("../img/fax.svg"); }

.o-label__icon--email:before {
  background-image: url("../img/close-envelope.svg"); }

.o-textarea {
  width: 100%;
  font-size: 16px;
  border: 3px solid #dfdfdf;
  padding: 10px;
  color: #000000; }
  .o-textarea:focus {
    border: 3px solid #e81011; }

.o-textarea--noResize {
  resize: none; }

.o-textarea--noBorder {
  border: none; }

.o-textarea__wrap {
  display: inline-block;
  width: 100%; }

.o-video {
  width: 100%; }

video {
  -o-object-fit: fill;
     object-fit: fill; }

.o-video__wrap {
  position: relative; }

.o-video__play {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .o-video__play span {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 15px; }

.o-video__playBtn {
  background-color: #000000;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto; }
  .o-video__playBtn:hover {
    cursor: pointer; }
  .o-video__playBtn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.o-video__playBtn--play {
  position: relative; }
  .o-video__playBtn--play:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url("../images/play-button.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.o-video__playBtn--pause {
  position: relative; }
  .o-video__playBtn--pause:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url("../images/pause-button.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.o-video__bg {
  display: none; }
  @media (min-width: 1000px) {
    .o-video__bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; } }
  .o-video__bg video {
    width: 100% !important; }

.o-paragraph, .c-cookie p, .c-cookie a, .c-article .o-article__excerpt, p {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px; }
  .o-paragraph:last-child, .c-cookie p:last-child, .c-cookie a:last-child, .c-article .o-article__excerpt:last-child, p:last-child {
    margin-bottom: 0; }

.o-paragraph__wrap {
  display: block;
  width: 100%; }
  .o-paragraph__wrap:before, .o-paragraph__wrap:after {
    content: "";
    display: table; }
  .o-paragraph__wrap:after {
    clear: both; }

.o-notification__error {
  font-size: 16px;
  color: red;
  margin-bottom: 5px; }

.o-notification__success {
  color: #000000;
  font-size: 16px;
  margin-bottom: 5px; }

.o-content {
  display: block;
  width: 100%; }
  .o-content:before, .o-content:after {
    content: "";
    display: table; }
  .o-content:after {
    clear: both; }

/* 
 * COMPONENTS 
 * UI Classes
 * .c-
*/
.c-header {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  width: 100%;
  background-color: #000000; }
  .c-header:before, .c-header:after {
    content: "";
    display: table; }
  .c-header:after {
    clear: both; }
  @media (min-width: 1000px) {
    .c-header {
      position: fixed;
      top: 0;
      left: 0; } }
  .c-header .o-header__left {
    position: relative;
    display: block;
    width: 100%;
    width: 100%;
    padding: 15px; }
    .c-header .o-header__left:before, .c-header .o-header__left:after {
      content: "";
      display: table; }
    .c-header .o-header__left:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-header .o-header__left {
        width: 10%;
        display: inline-block;
        vertical-align: middle;
        padding: 0; } }
  .c-header .o-header__logo {
    display: inline-block;
    width: 50%;
    height: 40px;
    vertical-align: middle;
    position: relative; }
    .c-header .o-header__logo:before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      background-image: url("../images/logo.png");
      background-repeat: no-repeat;
      background-size: contain; }
    @media (min-width: 1000px) {
      .c-header .o-header__logo {
        height: 50px;
        width: 270px; } }
    .c-header .o-header__logo:before {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      left: 0; }
      @media (min-width: 500px) {
        .c-header .o-header__logo:before {
          background-image: url("../images/logo-desktop.png");
          width: 230px; } }
      @media (min-width: 1000px) {
        .c-header .o-header__logo:before {
          left: 30px; } }
      @media (min-width: 1200px) {
        .c-header .o-header__logo:before {
          height: 50px;
          width: 280px; } }
  .c-header .o-header__menu {
    display: inline-block;
    width: 50%;
    margin-left: -5px;
    vertical-align: middle;
    text-align: right; }
    .c-header .o-header__menu img {
      height: 30px;
      width: auto; }
    @media (min-width: 1000px) {
      .c-header .o-header__menu {
        display: none; } }
  .c-header .o-header__right {
    display: block;
    width: 100%;
    width: 100%;
    display: none; }
    .c-header .o-header__right:before, .c-header .o-header__right:after {
      content: "";
      display: table; }
    .c-header .o-header__right:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-header .o-header__right {
        width: 90%;
        display: inline-block;
        margin-left: -5px;
        vertical-align: middle;
        padding-right: 20px; } }
    .c-header .o-header__right ul {
      display: block;
      width: 100%;
      width: 100%; }
      .c-header .o-header__right ul:before, .c-header .o-header__right ul:after {
        content: "";
        display: table; }
      .c-header .o-header__right ul:after {
        clear: both; }
      @media (min-width: 1000px) {
        .c-header .o-header__right ul {
          display: inline-block;
          width: auto;
          float: right; } }
      @media (min-width: 1000px) {
        .c-header .o-header__right ul .o-header__model:hover > a {
          border-bottom: 5px solid #e91112; }
        .c-header .o-header__right ul .o-header__model:hover .o-header__carWrap {
          display: block; } }
    .c-header .o-header__right li {
      display: inline-block;
      width: 100%; }
      @media (min-width: 1000px) {
        .c-header .o-header__right li {
          width: auto;
          float: left; } }
      .c-header .o-header__right li > a {
        display: inline-block;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #ffffff;
        padding: 10px 20px; }
        @media (min-width: 1000px) {
          .c-header .o-header__right li > a {
            width: auto;
            padding: 25px 10px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent; } }
  @media (min-width: 1000px) and (min-width: 1200px) {
    .c-header .o-header__right li > a {
      padding: 25px 20px; } }
        @media (min-width: 1000px) {
            .c-header .o-header__right li > a:hover, .c-header .o-header__right li > a.o-header__active {
              border-bottom: 5px solid #e91112; } }
    .c-header .o-header__right .o-header__btn {
      margin-bottom: 15px; }
      @media (min-width: 1000px) {
        .c-header .o-header__right .o-header__btn {
          margin-bottom: 0; }
          .c-header .o-header__right .o-header__btn:hover, .c-header .o-header__right .o-header__btn.o-header__active {
            border-bottom: 5px solid transparent; } }
      .c-header .o-header__right .o-header__btn span {
        display: inline-block;
        border-radius: 10px;
        width: auto;
        padding: 10px 25px;
        background-color: #e81011; }
        @media (min-width: 1000px) {
          .c-header .o-header__right .o-header__btn span {
            display: inline; } }
  .c-header .o-header__carWrap {
    z-index: 1;
    width: 100%;
    left: 0; }
    @media (min-width: 1000px) {
      .c-header .o-header__carWrap {
        display: none;
        position: absolute;
        background-color: #e81011;
        padding: 10px; } }
  .c-header .o-header__thumbnail {
    display: block;
    width: 100%; }
    .c-header .o-header__thumbnail:before, .c-header .o-header__thumbnail:after {
      content: "";
      display: table; }
    .c-header .o-header__thumbnail:after {
      clear: both; }
  .c-header .o-header__cars {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px; }
    @media (min-width: 1000px) {
      .c-header .o-header__cars {
        display: block; } }
  .c-header .o-header__car {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 5px 20px 5px 50px; }
    @media (min-width: 700px) {
      .c-header .o-header__car {
        width: auto; } }
    @media (min-width: 1000px) {
      .c-header .o-header__car {
        width: 33.3%; } }
    .c-header .o-header__car img {
      display: inline-block;
      width: 70px;
      height: auto;
      vertical-align: middle; }
      @media (min-width: 1000px) {
        .c-header .o-header__car img {
          display: block;
          height: 100px;
          width: auto;
          margin: 0 auto;
          vertical-align: initial; } }
    .c-header .o-header__car span {
      display: inline-block;
      color: #ffffff;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 500;
      margin-left: 15px;
      vertical-align: middle; }
      @media (min-width: 1000px) {
        .c-header .o-header__car span {
          display: block;
          font-size: 16px;
          margin-top: 5px;
          margin-left: 0; } }

.c-footer {
  display: block;
  width: 100%;
  width: 100%;
  background-color: #e81011;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 30px 10px; }
  .c-footer:before, .c-footer:after {
    content: "";
    display: table; }
  .c-footer:after {
    clear: both; }
  @media (min-width: 1000px) {
    .c-footer {
      padding: 30px; } }
  .c-footer a {
    color: #ffffff; }
  .c-footer .o-footer__upper {
    position: relative;
    display: block;
    width: 100%;
    width: 100%; }
    .c-footer .o-footer__upper:before, .c-footer .o-footer__upper:after {
      content: "";
      display: table; }
    .c-footer .o-footer__upper:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-footer .o-footer__upper {
        padding: 10px 300px 10px 0; } }
  .c-footer .o-footer__menu {
    display: block;
    width: 100%; }
    .c-footer .o-footer__menu:before, .c-footer .o-footer__menu:after {
      content: "";
      display: table; }
    .c-footer .o-footer__menu:after {
      clear: both; }
    .c-footer .o-footer__menu a {
      display: inline-block;
      width: 100%;
      padding: 5px;
      font-weight: 500; }
      @media (min-width: 1000px) {
        .c-footer .o-footer__menu a {
          padding: 5px 10px;
          width: auto;
          float: left; } }
    @media (min-width: 1000px) {
      .c-footer .o-footer__menu li:first-child a {
        padding-left: 0; } }
  .c-footer .o-footer__lower {
    display: block;
    width: 100%;
    width: 100%;
    border-top: 1px solid #f48888;
    padding-top: 25px;
    margin-top: 15px; }
    .c-footer .o-footer__lower:before, .c-footer .o-footer__lower:after {
      content: "";
      display: table; }
    .c-footer .o-footer__lower:after {
      clear: both; }
  .c-footer .o-footer__social {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
    @media (min-width: 1000px) {
      .c-footer .o-footer__social {
        width: auto;
        float: left;
        margin: 0; } }
    .c-footer .o-footer__social img {
      width: 25px; }
    .c-footer .o-footer__social li {
      display: inline-block;
      width: auto;
      margin-right: 15px; }
      .c-footer .o-footer__social li:last-child {
        margin-right: 0; }
    .c-footer .o-footer__social a {
      display: inline-block;
      width: auto;
      float: left; }
  .c-footer .o-footer__address {
    display: block; }
    @media (min-width: 1000px) {
      .c-footer .o-footer__address {
        display: inline-block;
        float: right; } }
    .c-footer .o-footer__address li {
      padding: 5px;
      font-weight: 500; }
      .c-footer .o-footer__address li:first-child {
        font-weight: 900; }
      @media (min-width: 1000px) {
        .c-footer .o-footer__address li {
          padding: 0;
          text-align: right; } }
  .c-footer .o-footer__logo {
    display: block;
    margin-top: 15px; }
    @media (min-width: 1000px) {
      .c-footer .o-footer__logo {
        position: absolute;
        right: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        margin-top: 0; } }
    .c-footer .o-footer__logo img {
      width: 100%;
      max-width: 300px;
      margin: 0 auto; }

@media (min-width: 768px) {
  .c-sidebar {
    display: inline-block;
    float: left;
    width: 19%;
    height: 100vh;
    padding: 20px 0;
    background: #019cde;
    text-align: center; } }

.c-pagination {
  position: relative;
  display: block;
  width: 100%;
  width: 100%;
  padding: 30px 130px 30px 130px; }
  .c-pagination:before, .c-pagination:after {
    content: "";
    display: table; }
  .c-pagination:after {
    clear: both; }
  .c-pagination .o-pagination__prev {
    position: absolute;
    left: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    text-decoration: none; }
  .c-pagination .o-pagination__next {
    position: absolute;
    right: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    text-decoration: none; }
  .c-pagination .o-pagination__pageWrap {
    display: block;
    width: 100%;
    width: 100%;
    text-align: center; }
    .c-pagination .o-pagination__pageWrap:before, .c-pagination .o-pagination__pageWrap:after {
      content: "";
      display: table; }
    .c-pagination .o-pagination__pageWrap:after {
      clear: both; }
  .c-pagination .o-pagination__page {
    font-size: 16px;
    display: inline-block;
    width: auto;
    padding: 10px;
    text-decoration: none; }

.c-pagination--articles, .c-pagination--articlesInner {
  padding: 30px 0;
  text-align: center; }
  @media (min-width: 1000px) {
    .c-pagination--articles, .c-pagination--articlesInner {
      padding: 40px 150px 40px 150px;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 80px;
      min-height: 136px; } }
  .c-pagination--articles .o-pagination__page, .c-pagination--articlesInner .o-pagination__page {
    position: relative;
    display: none;
    background-color: transparent;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 3px solid #e1e1e1;
    margin-right: 5px;
    overflow: hidden; }
    .c-pagination--articles .o-pagination__page span, .c-pagination--articlesInner .o-pagination__page span {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #000000;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    @media (min-width: 1000px) {
      .c-pagination--articles .o-pagination__page, .c-pagination--articlesInner .o-pagination__page {
        display: inline-block; } }
    .c-pagination--articles .o-pagination__page:last-child, .c-pagination--articlesInner .o-pagination__page:last-child {
      margin-right: 0; }
  .c-pagination--articles .o-pagination__prev, .c-pagination--articlesInner .o-pagination__prev {
    font-size: 16px;
    color: #747474;
    background-color: #e1e1e1;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 280px;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 5px;
    -ms-transform: none;
        transform: none;
    margin: 0 auto;
    margin-bottom: 20px; }
    .c-pagination--articles .o-pagination__prev:hover, .c-pagination--articlesInner .o-pagination__prev:hover {
      color: #fff;
      background-color: #e81011; }
    @media (min-width: 1000px) {
      .c-pagination--articles .o-pagination__prev, .c-pagination--articlesInner .o-pagination__prev {
        text-indent: 0;
        text-align: center;
        width: 150px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        margin-bottom: 0;
        left: 10px; } }
    .c-pagination--articles .o-pagination__prev:before, .c-pagination--articlesInner .o-pagination__prev:before {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      @media (min-width: 500px) {
        .c-pagination--articles .o-pagination__prev:before, .c-pagination--articlesInner .o-pagination__prev:before {
          left: 10px;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }
  .c-pagination--articles .o-pagination__next, .c-pagination--articlesInner .o-pagination__next {
    font-size: 16px;
    color: #747474;
    background-color: #e1e1e1;
    overflow: hidden;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 280px;
    padding: 15px 0;
    position: relative;
    border-radius: 5px;
    border: none;
    -ms-transform: none;
        transform: none;
    margin: 0 auto; }
    .c-pagination--articles .o-pagination__next:hover, .c-pagination--articlesInner .o-pagination__next:hover {
      color: #fff;
      background-color: #e81011; }
    @media (min-width: 1000px) {
      .c-pagination--articles .o-pagination__next, .c-pagination--articlesInner .o-pagination__next {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        right: 10px;
        text-indent: 0;
        width: 150px;
        text-align: center; } }
    .c-pagination--articles .o-pagination__next:before, .c-pagination--articlesInner .o-pagination__next:before {
      right: 10px;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .c-pagination--articles .o-pagination__page:hover, .c-pagination--articlesInner .o-pagination__page:hover, .c-pagination--articles .o-pagination__page.o-pagination__page--active, .c-pagination--articlesInner .o-pagination__page.o-pagination__page--active {
    background-color: #e81011;
    border: 3px solid #e81011; }
    .c-pagination--articles .o-pagination__page:hover span, .c-pagination--articlesInner .o-pagination__page:hover span, .c-pagination--articles .o-pagination__page.o-pagination__page--active span, .c-pagination--articlesInner .o-pagination__page.o-pagination__page--active span {
      color: #fff; }
  .c-pagination--articles .o-pagination__back, .c-pagination--articlesInner .o-pagination__back {
    font-size: 16px;
    color: #747474;
    background-color: #e1e1e1;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 280px;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: none;
    -ms-transform: none;
        transform: none;
    margin: 0 auto;
    margin-bottom: 20px; }
    .c-pagination--articles .o-pagination__back:hover, .c-pagination--articlesInner .o-pagination__back:hover {
      color: #fff;
      background-color: #e81011; }
    @media (min-width: 1000px) {
      .c-pagination--articles .o-pagination__back, .c-pagination--articlesInner .o-pagination__back {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

.c-pagination--articlesInner .o-pagination__page {
  display: none; }

.c-mainContent {
  padding: 20px;
  background: #ffffff; }
  @media (min-width: 768px) {
    .c-mainContent {
      display: inline-block;
      vertical-align: top;
      width: 81%; } }

.--left {
  text-align: left; }

.o-headAction .o-colWrap {
  text-align: left; }

.c-menu {
  display: block;
  width: 100%;
  height: auto;
  max-height: 0px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: max-height ease 800ms; }
  @media (min-width: 1024px) {
    .c-menu {
      height: auto;
      margin: 0;
      max-height: none;
      display: inline-block;
      width: 685px; } }
  .c-menu ul {
    padding: 0;
    margin: 0; }
  .c-menu li > ul.submenu {
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height ease 800ms; }
  .c-menu li:active > ul, .c-menu li:hover > ul {
    max-height: 800px; }
  .c-menu a {
    display: block;
    padding: 15px 5px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    transition: background ease 300ms; }
    .c-menu a svg {
      margin-right: 5px; }
    .c-menu a:hover {
      color: #ffde00;
      cursor: pointer; }
    @media (min-width: 1024px) {
      .c-menu a {
        text-align: left;
        margin-left: 20px;
        text-align: center;
        margin-left: 0; } }

/* Horizontal Navigation Menu */
@media (min-width: 1024px) {
  nav.--horizontal li {
    display: inline-block; }
    nav.--horizontal li a {
      padding: 15px; }
    nav.--horizontal li > ul.submenu {
      position: absolute; }
      nav.--horizontal li > ul.submenu li {
        display: block;
        background: #019cde; } }

/* Mobile Menu Button */
.o-menuMobile {
  border: 0;
  background: none;
  float: right;
  padding: 9px;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  /* Safari 3-8 */
  transform: rotate(180deg);
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .o-menuMobile .o-menuMobile__bar {
    display: block;
    height: 3px;
    width: 20px;
    margin: 5px 0;
    background-color: #ffffff;
    text-align: right; }
  .o-menuMobile .o-menuMobile__bar:nth-of-type(2) {
    width: 25px; }
  .o-menuMobile:active .o-menuMobile__bar {
    background-color: #019cde; }
  @media (min-width: 1024px) {
    .o-menuMobile {
      display: none; } }

.c-radio__wrap {
  padding: 15px 0; }
  .c-radio__wrap input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .c-radio__wrap input[type="radio"] + .c-radio--label:before {
      content: '';
      background: #333333;
      border-radius: 100%;
      border: 1px solid black;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 0px;
      margin-right: 8px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease; }
    .c-radio__wrap input[type="radio"]:checked + .c-radio--label:before {
      background-color: #fff;
      box-shadow: inset 0 0 0 4px #333333; }
    .c-radio__wrap input[type="radio"]:focus + .c-radio--label:before {
      outline: none; }
    .c-radio__wrap input[type="radio"]:disabled + .c-radio--label:before {
      box-shadow: inset 0 0 0 4px #333333;
      border-color: black;
      background: black; }
    .c-radio__wrap input[type="radio"] + .c-radio--label:empty:before {
      margin-right: 0; }

.c-checkbox__wrap {
  position: absolute;
  opacity: 0; }
  .c-checkbox__wrap + label {
    position: relative;
    cursor: pointer;
    padding: 0; }
  .c-checkbox__wrap + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #e81011; }
  .c-checkbox__wrap:hover + label:before {
    background: #e81011; }
  .c-checkbox__wrap:checked + label:before {
    background: #e81011; }
  .c-checkbox__wrap:disabled + label {
    color: #333333;
    cursor: auto; }
  .c-checkbox__wrap:disabled + label:before {
    box-shadow: none;
    background: #0073bb; }
  .c-checkbox__wrap:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }

/* Login */
.c-login {
  text-align: left;
  margin: 0 auto;
  width: 80%;
  max-width: 350px; }
  .c-login h2 {
    font-weight: 500; }
  .c-login form input, .c-login form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    border: 1px solid gray; }
  .c-login form button {
    background: #019cde;
    border: 1px solid #019cde;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer; }

/* ACCORDION */
.c-accordion {
  margin: 0 auto;
  background: #ffffff; }
  .c-accordion .o-accord__toggle {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px;
    background: #019cde;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500; }
  .c-accordion .o-accord__content {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height ease 300ms; }
  .c-accordion .o-accord__active + .o-accord__content {
    max-height: 800px; }

/* CARD */
.c-card {
  position: relative; }
  .c-card .o-card__wrap {
    display: block; }
  .c-card .o-card__title {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    color: #ffffff; }
  .c-card .o-card__bgImg {
    background: #1e1e1e; }
    .c-card .o-card__bgImg img {
      opacity: 0.5;
      width: 100%; }
  @media (min-width: 768px) {
    .c-card {
      display: inline-block;
      /* width: 33%; */
      /* --span: initial; avoid inheritance
			  --percentage: calc(var(--span) * 100%);
			  width: var(--percentage, initial);
		--span: 4/12;
		$gutters: 0; */
      width: 33.3333333333%;
      /* margin: 0 -2px; */ }
      .c-card .o-card__title {
        padding: 10px 0;
        color: #000000;
        background: rgba(255, 255, 255, 0.5);
        top: auto;
        bottom: 0; }
      .c-card .o-card__bgImg img {
        opacity: 1; } }

.c-codeList {
  text-align: left; }

.c-codeList__header {
  background: #019cde;
  padding: 10px 7px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.o-headAction {
  padding: 10px 0; }

.o-colWrap form {
  position: relative; }

.o-colWrap button {
  text-transform: uppercase;
  padding: 5px;
  font-weight: 500;
  width: 100%;
  margin: 10px 0;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 0;
  padding: 7px 15px; }

.o-colWrap input {
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px solid #696969;
  padding: 6px 15px 6px 25px;
  font-size: 12px;
  width: 100%; }

.o-colWrap .fa-search {
  color: #95a5a6;
  position: absolute;
  top: 6px;
  margin-left: 5px; }

@media (min-width: 768px) {
  .o-colWrap {
    display: inline-block;
    width: 29%; }
    .o-colWrap:nth-of-type(2) {
      float: right;
      text-align: right; }
    .o-colWrap input {
      width: 40%; }
    .o-colWrap button {
      width: auto; }
    .o-colWrap .fa-search {
      top: 18px; } }

.o-colWrap:nth-of-type(2) button {
  display: inline-block;
  width: 49%;
  margin: 5px 0 0 0; }

@media (min-width: 768px) {
  .o-colWrap:nth-of-type(2) {
    width: 70%; }
    .o-colWrap:nth-of-type(2) button {
      width: auto;
      margin: 10px 0; } }

.o-codeList__info h3 {
  display: inline-block;
  padding: 0 10px;
  color: #ffffff;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .o-codeList__info h3 {
      display: none; } }

.o-codeList__info input {
  display: inline-block;
  width: 15px;
  height: 15px; }

.o-codeList__info p {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 20%; }
  .o-codeList__info p:first-of-type {
    width: 40%; }
  .o-codeList__info p:last-of-type {
    width: 10%; }

@media (min-width: 768px) {
  .o-codeList__info {
    text-align: center; } }

.c-codeList__codeItem {
  position: relative;
  text-align: center; }
  .c-codeList__codeItem::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 98%;
    height: 1px;
    background: #bdc3c7; }

.o-codeList__labels {
  display: none; }
  @media (min-width: 768px) {
    .o-codeList__labels {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 95%;
      padding: 5px 0; } }
  @media (min-width: 1362px) {
    .o-codeList__labels {
      width: 96%; } }

.o-codeItem__checkbox {
  display: inline-block;
  width: 30px;
  padding: 5px;
  position: relative;
  bottom: 50px;
  left: 5px; }
  .o-codeItem__checkbox input {
    width: 15px;
    height: 15px; }
  @media (min-width: 768px) {
    .o-codeItem__checkbox {
      width: 28px;
      position: static; } }

.o-codeItem__info {
  display: inline-block;
  width: 87%;
  padding: 10px; }
  @media (min-width: 768px) {
    .o-codeItem__info {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 94%;
      padding: 10px 0; } }
  @media (min-width: 1362px) {
    .o-codeItem__info {
      width: 96%; } }

.o-codeItem__code, .o-codeItem__category, .o-codeItem__status, .o-codeItem__date {
  text-align: right;
  padding: 5px 0;
  font-size: 14px;
  transition: all ease 300ms; }
  @media (min-width: 768px) {
    .o-codeItem__code, .o-codeItem__category, .o-codeItem__status, .o-codeItem__date {
      display: inline-block;
      text-align: center; } }
  @media (min-width: 1024px) {
    .o-codeItem__code, .o-codeItem__category, .o-codeItem__status, .o-codeItem__date {
      font-size: 16px; } }

@media (min-width: 768px) {
  .o-codeItem__code {
    width: 40%; } }

.o-codeItem__code:before {
  content: "Code:";
  float: left; }
  @media (min-width: 768px) {
    .o-codeItem__code:before {
      content: ""; } }

@media (min-width: 768px) {
  .o-codeItem__category {
    width: 20%; } }

.o-codeItem__category:before {
  content: "Category:";
  float: left; }
  @media (min-width: 768px) {
    .o-codeItem__category:before {
      content: ""; } }

.o-codeItem__status select {
  padding: 5px; }

@media (min-width: 768px) {
  .o-codeItem__status {
    width: 20%; } }

.o-codeItem__status:before {
  content: "Status:";
  float: left;
  position: relative;
  top: 3px; }
  @media (min-width: 768px) {
    .o-codeItem__status:before {
      content: ""; } }

@media (min-width: 768px) {
  .o-codeItem__date {
    width: 15%; } }

.o-codeItem__date:before {
  content: "Date:";
  float: left; }
  @media (min-width: 768px) {
    .o-codeItem__date:before {
      content: ""; } }

span.o-label {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #696969; }
  span.o-label svg {
    margin-right: 5px; }

.o-btnUpdate {
  padding: 5px;
  margin: 10px 20px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px solid #019cde;
  background: #019cde;
  color: #ffffff;
  font-weight: 500; }
  .o-btnUpdate .fa-edit {
    color: #ffffff;
    margin-right: 3px; }

/* USER */
.c-user__form {
  text-align: center; }
  @media (min-width: 550px) {
    .c-user__form .o-colWrap {
      display: inline-block;
      width: 49%; } }
  @media (min-width: 768px) {
    .c-user__form .o-colWrap:nth-of-type(2) {
      text-align: left;
      float: none; } }
  .c-user__form .o-colWrap:nth-of-type(5) {
    display: block; }
  .c-user__form label {
    text-align: left;
    display: block; }
  .c-user__form input, .c-user__form select {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid #000000; }
  .c-user__form select {
    cursor: pointer;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    @media (min-width: 768px) {
      .c-user__form select {
        padding: 5px;
        width: 50%; } }
  .c-user__form button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .c-user__form button:nth-of-type(1) {
      background: #019cde;
      border: 1px solid #019cde; }
    .c-user__form button:nth-of-type(2) {
      background: #e74c3c;
      border: 1px solid #e74c3c; }
    .c-user__form button.--disabled {
      background: #95a5a6;
      border: 1px solid #95a5a6; }
    @media (min-width: 425px) {
      .c-user__form button {
        display: inline-block;
        width: 49%; } }
    @media (min-width: 768px) {
      .c-user__form button {
        width: 120px; } }
  @media (min-width: 550px) {
    .c-user__form .o-error {
      text-align: left;
      margin-left: 10px; } }
  @media (min-width: 768px) {
    .c-user__form {
      text-align: left;
      padding: 20px; } }

.c-popupMask {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: none; }

.c-popupContainer {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: white;
  width: 90%;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  z-index: 100;
  display: none; }
  @media screen and (min-width: 500px) {
    .c-popupContainer {
      max-width: 700px;
      width: 70%; } }
  .c-popupContainer > .c-popupClose {
    display: none;
    width: 13px;
    height: 13px;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer; }

.c-popup {
  display: none; }
  .c-popup h3 {
    margin-bottom: 5px; }
  .c-popup label {
    display: block;
    font-size: 14px;
    font-weight: 500; }
  .c-popup input, .c-popup select {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .c-popup button {
    display: inline-block;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .c-popup button:nth-of-type(1) {
      background: #019cde;
      border: 1px solid #019cde; }
    .c-popup button:nth-of-type(2) {
      background: #e74c3c;
      border: 1px solid #e74c3c; }
    .c-popup button .c-popup--disabled {
      background: #95a5a6;
      border: 1px solid #95a5a6; }
    @media (min-width: 768px) {
      .c-popup button {
        width: 120px; } }
  .c-popup .o-colWrap {
    text-align: left; }
    @media (min-width: 768px) {
      .c-popup .o-colWrap {
        display: inline-block;
        width: 49%; } }

.o-error {
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
  color: #e74c3c; }

.c-popup_show {
  display: block; }

table.c-tableList {
  width: 100%;
  display: block;
  /* === Desktop View === */ }
  table.c-tableList thead {
    display: block; }
    table.c-tableList thead tr {
      background: #019cde;
      padding: 10px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
      table.c-tableList thead tr th, table.c-tableList thead tr td {
        color: white;
        font-weight: 500;
        font-size: 16px; }
    table.c-tableList thead tr:first-of-type {
      display: block; }
    table.c-tableList thead tr:last-of-type {
      display: none; }
  table.c-tableList tbody {
    display: block; }
    table.c-tableList tbody th {
      display: block; }
    table.c-tableList tbody tr {
      display: block;
      position: relative;
      text-align: center;
      padding: 10px; }
      table.c-tableList tbody tr::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 98%;
        height: 1px;
        background: #bdc3c7; }
    table.c-tableList tbody td {
      display: block;
      text-align: right;
      padding: 5px 0; }
      table.c-tableList tbody td a {
        color: #019cde;
        padding: 0 5px;
        margin: 0 5px;
        text-decoration: none; }
        table.c-tableList tbody td a:hover {
          cursor: pointer; }
      table.c-tableList tbody td:nth-of-type(2) {
        white-space: nowrap; }
      table.c-tableList tbody td:before {
        float: left;
        text-align: left;
        font-weight: 500;
        margin: 5px 0; }
      table.c-tableList tbody td:nth-of-type(1):before {
        content: "Username"; }
      table.c-tableList tbody td:nth-of-type(2):before {
        content: "Full name"; }
      table.c-tableList tbody td:nth-of-type(3):before {
        content: "Email Address"; }
      table.c-tableList tbody td:nth-of-type(4):before {
        content: "User Level"; }
      table.c-tableList tbody td:nth-of-type(5):before {
        content: "Actions"; }
  @media (min-width: 1024px) {
    table.c-tableList {
      display: table;
      width: 100%;
      border-collapse: collapse; }
      table.c-tableList thead {
        display: table-header-group; }
        table.c-tableList thead tr {
          display: table-row;
          text-align: center; }
          table.c-tableList thead tr:first-of-type {
            display: none; }
          table.c-tableList thead tr:last-of-type {
            display: table-row; }
        table.c-tableList thead th {
          display: table-cell;
          padding: 10px; }
          table.c-tableList thead th:nth-of-type(1) {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            background-clip: padding-box; }
          table.c-tableList thead th:nth-of-type(5) {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            background-clip: padding-box; }
      table.c-tableList tbody {
        display: table-row-group; }
        table.c-tableList tbody tr {
          display: table-row;
          text-align: center; }
          table.c-tableList tbody tr::after {
            display: none; }
        table.c-tableList tbody td {
          position: relative;
          display: table-cell;
          text-align: center;
          max-width: 100px;
          padding: 10px;
          overflow: hidden;
          cursor: pointer;
          transition: max-width ease 300ms; }
          table.c-tableList tbody td:before {
            display: none; }
          table.c-tableList tbody td:hover {
            max-width: 500px; }
          table.c-tableList tbody td:nth-of-type(n+4) {
            width: 130px; }
          table.c-tableList tbody td a {
            padding: 0; } }

.--zebra tbody tr:nth-of-type(odd) {
  background: #eee; }

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto; }

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute; }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent; }

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6; }

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9; }

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px; }

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px; }

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important; } }

.c-slider {
  position: relative;
  display: block;
  width: 100%;
  width: 100%; }
  .c-slider:before, .c-slider:after {
    content: "";
    display: table; }
  .c-slider:after {
    clear: both; }
  .c-slider .o-slider__wrap {
    display: block;
    width: 100%;
    width: 100%; }
    .c-slider .o-slider__wrap:before, .c-slider .o-slider__wrap:after {
      content: "";
      display: table; }
    .c-slider .o-slider__wrap:after {
      clear: both; }
  .c-slider .o-imgWrap {
    display: block;
    width: 100%; }
  .c-slider img {
    display: block;
    width: 100%; }
  .c-slider .slick-slide {
    outline: none; }

.c-slider--home .slick-dots {
  position: absolute;
  bottom: 0px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  @media (min-width: 1000px) {
    .c-slider--home .slick-dots {
      -ms-transform: none;
          transform: none;
      left: 50px;
      bottom: 20px; } }
  .c-slider--home .slick-dots li {
    display: inline-block;
    margin-right: 10px;
    overflow: hidden; }
    .c-slider--home .slick-dots li:last-child {
      margin: 0; }
    .c-slider--home .slick-dots li:hover, .c-slider--home .slick-dots li.slick-active {
      cursor: pointer; }
      .c-slider--home .slick-dots li:hover button, .c-slider--home .slick-dots li.slick-active button {
        background-color: #e91112; }
  .c-slider--home .slick-dots button {
    border: 0;
    padding: 0;
    background-color: #808080;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    color: transparent; }
    @media (min-width: 500px) {
      .c-slider--home .slick-dots button {
        border-radius: 15px;
        width: 15px;
        height: 15px; } }
    @media (min-width: 1000px) {
      .c-slider--home .slick-dots button {
        border-radius: 20px;
        width: 20px;
        height: 20px; } }

.c-banner {
  position: relative;
  background-image: url("../img/banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 40px 10px; }
  @media (min-width: 700px) {
    .c-banner {
      padding: 0;
      background-image: none; } }
  .c-banner img {
    display: none; }
    @media (min-width: 700px) {
      .c-banner img {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%; } }

.o-banner__title {
  font-family: 'Lora';
  font-size: 40px;
  font-weight: bold;
  color: #0f57c4;
  text-align: center; }
  @media (min-width: 1000px) {
    .o-banner__title {
      font-size: 60px; } }

.o-banner__caption {
  font-family: 'Lato';
  font-size: 16px;
  color: #000000;
  text-align: center; }
  @media (min-width: 1000px) {
    .o-banner__caption {
      font-size: 22px; } }

@media (min-width: 700px) {
  .o-banner__wrap {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.c-slant {
  background: #41ade5;
  position: relative;
  overflow: hidden; }

.o-slant__video {
  -ms-transform: skewY(-5deg);
      transform: skewY(-5deg);
  -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
  overflow: hidden; }
  .o-slant__video .o-video__wrap {
    -ms-transform: skewY(5deg);
        transform: skewY(5deg);
    -ms-transform-origin: 100% 0;
        transform-origin: 100% 0; }

.c-slant--video:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 1px;
  left: 0;
  background-color: #41ade5; }

.c-form {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  width: 100%;
  padding: 30px 0;
  max-width: 500px;
  margin: 0 auto; }
  .c-form:before, .c-form:after {
    content: "";
    display: table; }
  .c-form:after {
    clear: both; }
  @media (min-width: 1000px) {
    .c-form {
      max-width: 1000px; } }
  .c-form .o-textarea__wrap {
    margin: 30px 0 15px 0; }
  .c-form .o-button {
    margin-top: 30px; }
  .c-form .o-textarea {
    height: 150px;
    resize: none; }
  @media (min-width: 1000px) {
    .c-form .o-input__wrap {
      width: 50%;
      float: left; }
      .c-form .o-input__wrap:nth-child(odd) {
        padding-left: 15px; }
      .c-form .o-input__wrap:nth-child(even) {
        padding-right: 15px; } }
  .c-form .o-input__wrap--checkbox {
    margin-top: 15px;
    width: 100%;
    padding: 0; }
  .c-form .o-input__checkboxWrap {
    max-width: 220px; }
  .c-form .o-paragraph__wrap {
    margin-top: 30px; }
    .c-form .o-paragraph__wrap span {
      color: #e81011;
      font-weight: 600; }
    .c-form .o-paragraph__wrap .o-paragraph, .c-form .o-paragraph__wrap .c-cookie p, .c-cookie .c-form .o-paragraph__wrap p, .c-form .o-paragraph__wrap .c-cookie a, .c-cookie .c-form .o-paragraph__wrap a, .c-form .o-paragraph__wrap .c-article .o-article__excerpt, .c-article .c-form .o-paragraph__wrap .o-article__excerpt {
      max-width: 100%; }

.c-cookie {
  z-index: 1;
  display: block;
  width: 100%;
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.9); }
  .c-cookie:before, .c-cookie:after {
    content: "";
    display: table; }
  .c-cookie:after {
    clear: both; }
  .c-cookie h4, .c-cookie .c-article-inner h5, .c-article-inner .c-cookie h5 {
    font-family: "Montserrat", sans-serif;
    display: block;
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px; }
    @media (min-width: 700px) {
      .c-cookie h4, .c-cookie .c-article-inner h5, .c-article-inner .c-cookie h5 {
        font-size: 22px; } }
  .c-cookie p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 0;
    font-style: italic; }
  .c-cookie a {
    color: #ffffff;
    padding-right: 15px;
    font-size: 18px;
    width: auto;
    vertical-align: middle;
    margin-bottom: 0;
    text-decoration: underline; }
  .c-cookie .o-cookie__link {
    vertical-align: middle; }
  .c-cookie .o-button {
    background-color: #e81011;
    color: #ffffff; }
    @media (min-width: 1000px) {
      .c-cookie .o-button {
        width: 150px; } }
  .c-cookie .o-cookie__content {
    display: block;
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 700px; }
    .c-cookie .o-cookie__content:before, .c-cookie .o-cookie__content:after {
      content: "";
      display: table; }
    .c-cookie .o-cookie__content:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-cookie .o-cookie__content {
        max-width: 1000px; } }
  .c-cookie .o-cookie__leftWrap {
    display: block;
    margin-bottom: 15px; }
    @media (min-width: 1000px) {
      .c-cookie .o-cookie__leftWrap {
        display: inline-block;
        width: 60%;
        vertical-align: middle; } }
  .c-cookie .o-cookie__rightWrap {
    display: block;
    text-align: center; }
    @media (min-width: 1000px) {
      .c-cookie .o-cookie__rightWrap {
        display: inline-block;
        width: 39%;
        verical-align: middle; } }

/* MG Cars Components */
/* HOME */
.c-home .c-carmodels {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 1200px; }
  @media (min-width: 1024px) {
    .c-home .c-carmodels {
      margin: 50px auto 0px auto;
      padding: 20px; } }
  .c-home .c-carmodels p {
    margin: 10px auto;
    max-width: 700px; }
  .c-home .c-carmodels .o-carmodels {
    display: block;
    width: 100%; }
    .c-home .c-carmodels .o-carmodels:before, .c-home .c-carmodels .o-carmodels:after {
      content: "";
      display: table; }
    .c-home .c-carmodels .o-carmodels:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-home .c-carmodels .o-carmodels {
        margin-top: 30px; } }
  @media (min-width: 768px) {
    .c-home .c-carmodels .o-car {
      display: inline-block;
      vertical-align: top;
      width: 33.3%;
      float: left;
      padding: 10px; } }
  .c-home .c-carmodels .o-car .o-imgWrap {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px; }
    @media (min-width: 1000px) {
      .c-home .c-carmodels .o-car .o-imgWrap {
        overflow: hidden; } }
    .c-home .c-carmodels .o-car .o-imgWrap img {
      display: block;
      width: 100%;
      max-width: 370px;
      margin: 0 auto; }
      @media (min-width: 768px) {
        .c-home .c-carmodels .o-car .o-imgWrap img {
          width: 200px; } }
      @media (min-width: 1000px) {
        .c-home .c-carmodels .o-car .o-imgWrap img {
          width: 300px; } }

.c-home .o-section {
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px 20px;
  background-image: url("../images/bg-testdrive.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .c-home .o-section:before, .c-home .o-section:after {
    content: "";
    display: table; }
  .c-home .o-section:after {
    clear: both; }
  .c-home .o-section h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .c-home .o-section p {
    text-align: center; }
  .c-home .o-section .o-button {
    margin-top: 15px; }

/* ABOUT, FAQ */
.c-about, .c-article, .c-article-inner, .c-faq {
  text-align: center;
  padding: 50px 20px 30px 20px;
  max-width: 1000px;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    .c-about, .c-article, .c-article-inner, .c-faq {
      padding: 80px; } }
  .c-about h1, .c-article h1, .c-article-inner h1, .c-faq h1 {
    text-transform: uppercase;
    font-weight: bold; }
  .c-about h3, .c-article h3, .c-article-inner h3, .c-faq h3 {
    font-weight: 900;
    color: #333030;
    margin: 20px 0; }
  .c-about h4, .c-article h4, .c-article-inner h4, .c-article-inner h5, .c-faq h4, .c-faq .c-article-inner h5, .c-article-inner .c-faq h5 {
    font-weight: 900;
    color: #e81011;
    margin: 35px 0 20px 0; }
  .c-about p, .c-article p, .c-article-inner p, .c-faq p {
    font-weight: normal;
    line-height: initial; }
    .c-about p span, .c-article p span, .c-article-inner p span, .c-faq p span {
      font-style: italic;
      font-weight: 600;
      color: #e81011; }
  .c-about .o-sectionWrap, .c-article .o-sectionWrap, .c-article-inner .o-sectionWrap, .c-faq .o-sectionWrap {
    margin: 40px 0; }
  @media (min-width: 768px) {
    .c-about, .c-article, .c-article-inner, .c-faq {
      width: 90%; }
      .c-about .o-textWrap, .c-article .o-textWrap, .c-article-inner .o-textWrap, .c-faq .o-textWrap {
        width: 70%; } }

/* CARD */
.c-boxlinks {
  color: #ffffff;
  display: block;
  width: 100%; }
  .c-boxlinks:before, .c-boxlinks:after {
    content: "";
    display: table; }
  .c-boxlinks:after {
    clear: both; }
  .c-boxlinks h2 {
    z-index: 1;
    position: relative; }
    @media (min-width: 1000px) {
      .c-boxlinks h2 {
        text-align: right; } }
  .c-boxlinks p {
    z-index: 1;
    position: relative;
    font-size: 14px;
    margin: 10px 0 20px 0;
    line-height: initial;
    text-align: left; }
    @media (min-width: 1000px) {
      .c-boxlinks p {
        text-align: right; } }
  .c-boxlinks .o-button {
    z-index: 1;
    position: relative; }
  .c-boxlinks .o-imgWrap {
    z-index: 1;
    position: relative; }
    .c-boxlinks .o-imgWrap img {
      width: 100%; }
  .c-boxlinks .o-textWrap {
    z-index: 1;
    position: relative;
    display: block;
    width: 100%; }
    .c-boxlinks .o-textWrap:before, .c-boxlinks .o-textWrap:after {
      content: "";
      display: table; }
    .c-boxlinks .o-textWrap:after {
      clear: both; }
  .c-boxlinks .o-boxlinks__card {
    position: relative;
    display: block;
    width: 100%;
    color: #ffffff;
    background: #000000;
    padding: 20px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .c-boxlinks .o-boxlinks__card {
        padding: 40px; } }
    @media (min-width: 1000px) {
      .c-boxlinks .o-boxlinks__card {
        padding: 20px 50px;
        text-align: right;
        display: inline-block;
        width: 50%;
        float: left;
        height: 270px; } }
    .c-boxlinks .o-boxlinks__card:nth-child(2) {
      background: url("../images/bg-heritage.jpg");
      background-size: cover; }
    .c-boxlinks .o-boxlinks__card:nth-child(3) {
      background: url("../images/bg-news.jpg");
      background-size: cover; }
    .c-boxlinks .o-boxlinks__card:nth-child(4) {
      background: url("../images/bg-dealers.jpg");
      background-size: cover; }
    .c-boxlinks .o-boxlinks__card:nth-child(5) {
      background: url("../images/bg-services.jpg");
      background-size: cover; }
    @media (min-width: 1000px) {
      .c-boxlinks .o-boxlinks__card .o-textWrap {
        width: 60%;
        float: right; } }
  .c-boxlinks .o-boxlinks__card--full {
    padding: 40px 20px; }
    @media (min-width: 768px) {
      .c-boxlinks .o-boxlinks__card--full {
        padding: 40px; } }
    @media (min-width: 1000px) {
      .c-boxlinks .o-boxlinks__card--full {
        position: relative;
        padding: 0;
        height: auto;
        width: 100%; } }
    @media (min-width: 1000px) {
      .c-boxlinks .o-boxlinks__card--full .o-textWrap {
        width: 45%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        right: 50px; } }
    @media (min-width: 1000px) {
      .c-boxlinks .o-boxlinks__card--full .o-textWrap {
        width: 40%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        right: 50px; } }
    .c-boxlinks .o-boxlinks__card--full .o-imgWrap {
      width: 100%;
      margin-left: -20px; }
      @media (min-width: 768px) {
        .c-boxlinks .o-boxlinks__card--full .o-imgWrap {
          margin-left: -40px; } }
      @media (min-width: 1000px) {
        .c-boxlinks .o-boxlinks__card--full .o-imgWrap {
          width: 50%;
          left: 0;
          bottom: 0;
          margin-top: 35px; } }
      @media (min-width: 1300px) {
        .c-boxlinks .o-boxlinks__card--full .o-imgWrap {
          width: 55%; } }
      @media (min-width: 1500px) {
        .c-boxlinks .o-boxlinks__card--full .o-imgWrap {
          width: 57%; } }
      .c-boxlinks .o-boxlinks__card--full .o-imgWrap img {
        display: block;
        width: 100%; }
    .c-boxlinks .o-boxlinks__card--full .o-boxlinks__imgBg {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      width: 90%;
      max-width: 300px; }
      @media (min-width: 1000px) {
        .c-boxlinks .o-boxlinks__card--full .o-boxlinks__imgBg {
          width: 105%;
          max-width: 105%; } }
    @media (min-width: 1000px) {
      .c-boxlinks .o-boxlinks__card--full .o-button {
        float: right; } }

.c-book .o-wrap__content {
  display: block;
  width: 100%;
  padding: 50px 20px 30px 20px; }
  .c-book .o-wrap__content:before, .c-book .o-wrap__content:after {
    content: "";
    display: table; }
  .c-book .o-wrap__content:after {
    clear: both; }
  @media (min-width: 700px) {
    .c-book .o-wrap__content {
      padding: 50px; } }
  @media (min-width: 1000px) {
    .c-book .o-wrap__content {
      padding: 80px; }
      .c-book .o-wrap__content p {
        display: inline-block;
        float: left; } }

.c-book .o-paragraph, .c-book .c-cookie p, .c-cookie .c-book p, .c-book .c-cookie a, .c-cookie .c-book a, .c-book .c-article .o-article__excerpt, .c-article .c-book .o-article__excerpt {
  line-height: initial;
  font-size: 14px;
  font-weight: normal; }
  @media (min-width: 400px) {
    .c-book .o-paragraph, .c-book .c-cookie p, .c-cookie .c-book p, .c-book .c-cookie a, .c-cookie .c-book a, .c-book .c-article .o-article__excerpt, .c-article .c-book .o-article__excerpt {
      max-width: 400px;
      float: left; } }
  @media (min-width: 700px) {
    .c-book .o-paragraph, .c-book .c-cookie p, .c-cookie .c-book p, .c-book .c-cookie a, .c-cookie .c-book a, .c-book .c-article .o-article__excerpt, .c-article .c-book .o-article__excerpt {
      max-width: 500px; } }
  @media (min-width: 1000px) {
    .c-book .o-paragraph, .c-book .c-cookie p, .c-cookie .c-book p, .c-book .c-cookie a, .c-cookie .c-book a, .c-book .c-article .o-article__excerpt, .c-article .c-book .o-article__excerpt {
      max-width: 800px; } }
  @media (min-width: 1500px) {
    .c-book .o-paragraph, .c-book .c-cookie p, .c-cookie .c-book p, .c-book .c-cookie a, .c-cookie .c-book a, .c-book .c-article .o-article__excerpt, .c-article .c-book .o-article__excerpt {
      max-width: 900px; } }

@media (min-width: 1000px) {
  .c-book .o-heading__wrap {
    max-width: 800px; } }

.c-book .o-book__infoWrap {
  display: block;
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 500px; }
  .c-book .o-book__infoWrap:before, .c-book .o-book__infoWrap:after {
    content: "";
    display: table; }
  .c-book .o-book__infoWrap:after {
    clear: both; }
  @media (min-width: 1000px) {
    .c-book .o-book__infoWrap {
      max-width: 1000px; } }
  .c-book .o-book__infoWrap h4, .c-book .o-book__infoWrap .c-article-inner h5, .c-article-inner .c-book .o-book__infoWrap h5 {
    text-align: left;
    margin-bottom: 15px; }
  .c-book .o-book__infoWrap p {
    line-height: 20px; }
  .c-book .o-book__infoWrap .o-book__info {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px; }
    .c-book .o-book__infoWrap .o-book__info h4, .c-book .o-book__infoWrap .o-book__info .c-article-inner h5, .c-article-inner .c-book .o-book__infoWrap .o-book__info h5 {
      margin-bottom: 5px; }

.c-model {
  display: block;
  width: 100%; }
  .c-model:before, .c-model:after {
    content: "";
    display: table; }
  .c-model:after {
    clear: both; }
  .c-model .o-model__banner {
    display: block;
    width: 100%; }
    .c-model .o-model__banner:before, .c-model .o-model__banner:after {
      content: "";
      display: table; }
    .c-model .o-model__banner:after {
      clear: both; }
    .c-model .o-model__banner ul {
      display: block;
      width: 100%;
      padding: 10px 20px 30px 20px; }
      .c-model .o-model__banner ul:before, .c-model .o-model__banner ul:after {
        content: "";
        display: table; }
      .c-model .o-model__banner ul:after {
        clear: both; }
    .c-model .o-model__banner li {
      display: inline-block;
      width: 100%; }
      @media (min-width: 700px) {
        .c-model .o-model__banner li {
          position: relative;
          width: auto; }
          .c-model .o-model__banner li:before {
            content: '';
            width: 1px;
            height: 15px;
            background-color: #000000;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            right: 0; }
          .c-model .o-model__banner li:last-child:before {
            content: none; } }
    .c-model .o-model__banner a {
      display: inline-block;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      color: #000000;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 15px; }
      .c-model .o-model__banner a:hover, .c-model .o-model__banner a.o-active {
        color: #e81011; }
    .c-model .o-model__banner .o-model__text--bold {
      font-weight: bold; }
  .c-model h2 {
    margin-bottom: 15px; }
  .c-model p {
    font-weight: 500; }
  .c-model .o-button {
    margin-bottom: 50px; }
  .c-model .o-content {
    padding: 0 20px 30px 20px; }
    @media (min-width: 700px) {
      .c-model .o-content {
        padding: 0 50px 30px 50px; } }
  .c-model .o-model__overview {
    display: block;
    width: 100%;
    padding: 20px; }
    .c-model .o-model__overview:before, .c-model .o-model__overview:after {
      content: "";
      display: table; }
    .c-model .o-model__overview:after {
      clear: both; }
    @media (min-width: 500px) {
      .c-model .o-model__overview {
        padding: 20px; } }
    @media (min-width: 700px) {
      .c-model .o-model__overview {
        padding: 30px; } }
    @media (min-width: 1200px) {
      .c-model .o-model__overview {
        padding: 50px 80px 50px 80px; } }
    .c-model .o-model__overview .o-imgWrap {
      display: inline-block;
      width: 100%;
      margin-top: 20px; }
      .c-model .o-model__overview .o-imgWrap img {
        max-width: 450px; }
      @media (min-width: 1000px) {
        .c-model .o-model__overview .o-imgWrap {
          width: 50%;
          margin-left: -5px;
          vertical-align: middle;
          margin-top: 60px; } }
  .c-model .o-model__overviewInfo {
    display: inline-block;
    width: 100%; }
    @media (min-width: 1000px) {
      .c-model .o-model__overviewInfo {
        width: 50%;
        vertical-align: middle; } }
    @media (min-width: 1000px) {
      .c-model .o-model__overviewInfo h2 {
        text-align: left; } }
    .c-model .o-model__overviewInfo h5 {
      font-size: 16px;
      margin-bottom: 15px;
      margin-top: 20px; }
      @media (min-width: 1000px) {
        .c-model .o-model__overviewInfo h5 {
          text-align: left; } }
    .c-model .o-model__overviewInfo ul {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      max-width: 380px;
      margin: 0 auto;
      text-align: initial; }
      .c-model .o-model__overviewInfo ul:before, .c-model .o-model__overviewInfo ul:after {
        content: "";
        display: table; }
      .c-model .o-model__overviewInfo ul:after {
        clear: both; }
      @media (min-width: 1000px) {
        .c-model .o-model__overviewInfo ul {
          max-width: 100%; } }
    .c-model .o-model__overviewInfo li {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #000000;
      padding: 5px 0 10px 0;
      margin-bottom: 15px; }
      @media (min-width: 1300px) {
        .c-model .o-model__overviewInfo li {
          font-size: 15px;
          width: 270px;
          float: left;
          margin-right: 30px; } }
      @media (min-width: 1300px) {
        .c-model .o-model__overviewInfo li:nth-child(even) {
          margin-right: 0; } }
    .c-model .o-model__overviewInfo span {
      display: inline-block;
      width: auto;
      float: right; }
    .c-model .o-model__overviewInfo label {
      font-weight: bold;
      display: inline-block;
      width: auto;
      float: left; }
  .c-model .o-model__slider {
    display: block;
    width: 100%;
    padding: 20px;
    background-image: url("../images/model-1-bg-slider.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px; }
    .c-model .o-model__slider:before, .c-model .o-model__slider:after {
      content: "";
      display: table; }
    .c-model .o-model__slider:after {
      clear: both; }
    @media (min-width: 700px) {
      .c-model .o-model__slider {
        padding: 30px; } }
    @media (min-width: 1200px) {
      .c-model .o-model__slider {
        padding: 70px 80px 50px 80px; } }
  .c-model .c-slider--modelMain h4, .c-model .c-slider--modelMain .c-article-inner h5, .c-article-inner .c-model .c-slider--modelMain h5 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: left; }
    @media (min-width: 1200px) {
      .c-model .c-slider--modelMain h4, .c-model .c-slider--modelMain .c-article-inner h5, .c-article-inner .c-model .c-slider--modelMain h5 {
        font-size: 30px; } }
  .c-model .c-slider--modelMain p {
    color: #ffffff;
    font-size: 12px;
    line-height: initial; }
    @media (min-width: 1200px) {
      .c-model .c-slider--modelMain p {
        font-size: 18px; } }
  .c-model .c-slider--modelMain .o-slider__info {
    display: block;
    width: 100%;
    padding: 15px 0 15px 0; }
    .c-model .c-slider--modelMain .o-slider__info:before, .c-model .c-slider--modelMain .o-slider__info:after {
      content: "";
      display: table; }
    .c-model .c-slider--modelMain .o-slider__info:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-model .c-slider--modelMain .o-slider__info {
        display: inline-block;
        width: 50%;
        margin-left: -5px;
        vertical-align: middle;
        padding: 20px 0 20px 30px; } }
  .c-model .c-slider--modelMain .o-imgWrap {
    display: block;
    width: 100%; }
    @media (min-width: 1000px) {
      .c-model .c-slider--modelMain .o-imgWrap {
        display: inline-block;
        width: 50%;
        vertical-align: middle; } }
    .c-model .c-slider--modelMain .o-imgWrap img {
      display: block;
      width: 100%; }
  .c-model .c-slider--modelThumbnail {
    display: block;
    width: 100%;
    padding: 10px 20px; }
    .c-model .c-slider--modelThumbnail:before, .c-model .c-slider--modelThumbnail:after {
      content: "";
      display: table; }
    .c-model .c-slider--modelThumbnail:after {
      clear: both; }
    @media (min-width: 700px) {
      .c-model .c-slider--modelThumbnail {
        padding: 20px 30px; } }
    @media (min-width: 1000px) {
      .c-model .c-slider--modelThumbnail {
        margin: 0 auto;
        margin-top: 30px; } }
    .c-model .c-slider--modelThumbnail .slick-prev, .c-model .c-slider--modelThumbnail .slick-next {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 0;
      z-index: 1;
      text-indent: 100px;
      overflow: hidden;
      color: transparent; }
      .c-model .c-slider--modelThumbnail .slick-prev:before, .c-model .c-slider--modelThumbnail .slick-next:before {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .c-model .c-slider--modelThumbnail .slick-prev {
      position: relative;
      position: absolute;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      left: 0; }
      .c-model .c-slider--modelThumbnail .slick-prev:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url("../images/left-arrow-white.svg");
        background-repeat: no-repeat;
        background-size: contain; }
      .c-model .c-slider--modelThumbnail .slick-prev:hover:before {
        background-image: url("../images/left-arrow-red.svg"); }
    .c-model .c-slider--modelThumbnail .slick-next {
      position: relative;
      position: absolute;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      right: 0; }
      .c-model .c-slider--modelThumbnail .slick-next:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url("../images/right-arrow-white.svg");
        background-repeat: no-repeat;
        background-size: contain; }
      .c-model .c-slider--modelThumbnail .slick-next:hover:before {
        background-image: url("../images/right-arrow-red.svg"); }
    .c-model .c-slider--modelThumbnail .o-slider__content {
      display: block;
      width: 100%;
      padding: 5px; }
      .c-model .c-slider--modelThumbnail .o-slider__content:before, .c-model .c-slider--modelThumbnail .o-slider__content:after {
        content: "";
        display: table; }
      .c-model .c-slider--modelThumbnail .o-slider__content:after {
        clear: both; }
      .c-model .c-slider--modelThumbnail .o-slider__content:hover {
        cursor: pointer; }
    .c-model .c-slider--modelThumbnail .o-slider__thumbnail {
      display: block;
      width: 100%;
      max-width: 70px;
      height: 70px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover; }
      @media (min-width: 370px) {
        .c-model .c-slider--modelThumbnail .o-slider__thumbnail {
          max-width: 80px;
          height: 80px; } }
      @media (min-width: 1500px) {
        .c-model .c-slider--modelThumbnail .o-slider__thumbnail {
          max-width: 100px;
          height: 100px; } }
    .c-model .c-slider--modelThumbnail .slick-current .o-slider__thumbnail {
      position: relative;
      overflow: hidden; }
      .c-model .c-slider--modelThumbnail .slick-current .o-slider__thumbnail:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-color: #e81011; }
    .c-model .c-slider--modelThumbnail .slick-disabled {
      opacity: 0;
      width: 0;
      height: 0; }

.c-article {
  display: block;
  width: 100%;
  padding: 80px 0 0 0; }
  .c-article:before, .c-article:after {
    content: "";
    display: table; }
  .c-article:after {
    clear: both; }
  @media (min-width: 700px) {
    .c-article {
      padding: 112px 0 0 0; } }
  .c-article h1 {
    padding-left: 20px;
    padding-right: 20px; }
  .c-article .o-article__mainWrap {
    display: block;
    width: 100%; }
    .c-article .o-article__mainWrap:before, .c-article .o-article__mainWrap:after {
      content: "";
      display: table; }
    .c-article .o-article__mainWrap:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-article .o-article__mainWrap {
        padding: 80px 0px; } }
  .c-article .o-article__card {
    position: relative;
    display: block;
    width: 100%; }
    .c-article .o-article__card:before, .c-article .o-article__card:after {
      content: "";
      display: table; }
    .c-article .o-article__card:after {
      clear: both; }
    @media (min-width: 700px) {
      .c-article .o-article__card {
        border-style: solid;
        border-width: 10px 1px 1px 1px;
        border-color: #e81011 #e1e1e1 #e1e1e1 #e1e1e1; } }
    @media (min-width: 1000px) {
      .c-article .o-article__card {
        height: 720px;
        padding-bottom: 100px; } }
  .c-article .o-article__cardWrap {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden; }
    .c-article .o-article__cardWrap:before, .c-article .o-article__cardWrap:after {
      content: "";
      display: table; }
    .c-article .o-article__cardWrap:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-article .o-article__cardWrap {
        max-width: 100%;
        display: inline-block;
        width: 33.3%;
        padding: 0 20px;
        float: none;
        margin-left: -5px;
        vertical-align: top;
        margin-bottom: 50px; } }
  .c-article .o-article__infoWrap {
    display: block;
    width: 100%;
    padding: 20px 10px 30px 10px; }
    .c-article .o-article__infoWrap:before, .c-article .o-article__infoWrap:after {
      content: "";
      display: table; }
    .c-article .o-article__infoWrap:after {
      clear: both; }
  .c-article .o-article__date {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-bottom: 15px; }
  .c-article .o-article__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0; }
  .c-article .o-article__excerpt {
    font-weight: normal;
    text-align: center;
    line-height: 28px; }
  .c-article .o-button {
    margin-top: 20px; }
    @media (min-width: 1000px) {
      .c-article .o-button {
        width: 150px;
        margin-top: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        bottom: 30px; } }

.c-article-inner {
  display: block;
  width: 100%; }
  .c-article-inner:before, .c-article-inner:after {
    content: "";
    display: table; }
  .c-article-inner:after {
    clear: both; }
  .c-article-inner .o-article__mainWrap {
    display: block;
    width: 100%; }
    .c-article-inner .o-article__mainWrap:before, .c-article-inner .o-article__mainWrap:after {
      content: "";
      display: table; }
    .c-article-inner .o-article__mainWrap:after {
      clear: both; }
    @media (min-width: 1000px) {
      .c-article-inner .o-article__mainWrap {
        padding: 50px 0 80px 0; } }
  .c-article-inner .o-heading__wrap {
    margin-bottom: 0; }
    .c-article-inner .o-heading__wrap h1 {
      font-size: 38px;
      max-width: 100%;
      margin-bottom: 30px; }
      @media (min-width: 1000px) {
        .c-article-inner .o-heading__wrap h1 {
          margin-bottom: 0; } }
  .c-article-inner .o-article-inner__content {
    display: block;
    width: 100%; }
    .c-article-inner .o-article-inner__content:before, .c-article-inner .o-article-inner__content:after {
      content: "";
      display: table; }
    .c-article-inner .o-article-inner__content:after {
      clear: both; }
  .c-article-inner .o-article-inner__date {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    text-align: left;
    margin-bottom: 40px; }
    @media (min-width: 1000px) {
      .c-article-inner .o-article-inner__date {
        margin-bottom: 35px; } }
  .c-article-inner .o-article-inner__color--red {
    color: #e81011;
    font-style: normal; }
  .c-article-inner .o-article-inner__p--small {
    font-size: 14px; }
  .c-article-inner h2 {
    font-famliy: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 20px 0; }
  .c-article-inner h3 {
    font-weight: bold; }
  .c-article-inner h4, .c-article-inner h5 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin: 20px 0; }
  .c-article-inner h5 {
    font-size: 14px;
    margin-bottom: 10px; }
  .c-article-inner li {
    text-align: left;
    font-weight: 500;
    margin-bottom: 15px; }
  .c-article-inner ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    margin-bottom: 30px; }
    .c-article-inner ul li {
      list-style-type: disc; }
  .c-article-inner ol {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    margin-bottom: 30px; }
  .c-article-inner p {
    text-align: left;
    margin: 5px 0 15px 0; }
  .c-article-inner img {
    width: 100%; }

/* 
 * STYLEGUIDE
 * for styleguide purpose only
 * .sg-
*/
/* 
 * STYLEGUIDE
 * for styleguide purposes only
 * 
*/
.sg-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 0; }

.sg-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  padding: 15px; }

.sg-title {
  padding: 15px 0; }

.sg-title--secondary {
  color: #878080; }

.sg-content {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px; }

/* sg content */
code {
  display: block;
  padding: 15px;
  background-color: #333333;
  color: #fff;
  margin: 5px 0; }

.sg-example {
  padding: 15px;
  margin: 15px 0;
  font-size: 0.75em; }

/* MIXINS */
/* ALIGNMENT */
.sg-aligncenter {
  max-width: 200px;
  margin: 0 auto; }

/* BORDER */
.sg-borderall {
  border: 5px solid green; }

.sg-bordertop {
  border-top: 5px solid green; }

.sg-borderbottom {
  border-bottom: 5px solid green; }

.sg-borderleft {
  border-left: 5px solid green; }

.sg-borderright {
  border-right: 5px solid green; }

/* CORNER */
.sg-cornerradius {
  border: solid;
  border-radius: 100px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.sg-cornertop {
  border: solid;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  background-clip: padding-box; }

.sg-cornerright {
  border: solid;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background-clip: padding-box; }

.sg-cornerbottom {
  border: solid;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-clip: padding-box; }

.sg-cornerleft {
  border: solid;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  background-clip: padding-box; }

/* ELLIPSIS */
.sg-for-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

/* FONT MIXIN */
/* HOVER MIXIN */
.sg-hoverbg {
  background-color: green;
  cursor: pointer; }
  .sg-hoverbg:hover {
    background-color: blue; }

.sg-hovertextbg {
  cursor: pointer; }
  .sg-hovertextbg:hover {
    background-color: blue;
    color: #fff; }

/* SHADOW */
.sg-boxshadow {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.4); }

.sg-insetshadow {
  box-shadow: inset 1px 0px 20px rgba(0, 0, 0, 0.4); }

.sg-textshadow h3 {
  text-shadow: 2px 5px rgba(0, 0, 0, 0.4); }

/* END OF MIXINS */
/* VARIABLES */
/* COLORS */
.sg-color {
  margin: 0; }

/* FONT */
.sg-varFont {
  margin: 0; }

/* SPACING */
.sg-varspacing {
  margin: 0; }

/* END OF VARIABLES */
/* ELEMENTS */
/* BUTTONS */
.sg-buttons {
  padding: 10px 0; }

/*  */
/* END OF ELEMENTS */

/* */